/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--weight-regular), 'wdth' var(--wdth);
}

.header {
  background-color: var(--bg-color);
  margin-top: 100px;
  margin-bottom: 98px;
  font-family: var(--accent-font);
  text-align: center;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  border: var(--main-border);
}

.header__title {
  margin-bottom: 20px;
  font-size: var(--title-size);
  line-height: 100%;
}

.header__subtitle {
  font-size: var(--header-text-size);
  text-transform: uppercase;
  line-height: 100%;
}