/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-variation-settings: 'wght' var(--weight-regular), 'wdth' var(--wdth);
}

.header {
  background-color: var(--bg-color);
  margin-block-start: 100px;
  margin-block-end: 98px;
  font-family: var(--accent-font);
  text-align: center;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  border: var(--main-border);
}

.header__title {
  margin-bottom: 20px;
  font-size: var(--title-size);
  line-height: 100%;
}

.header__subtitle {
  font-size: var(--header-text-size);
  text-transform: uppercase;
  line-height: 100%;
}

.card {
  background-color: var(--bg-color);
  border: var(--main-border);
  margin-block-end: 50px;
}

.card__title {
  padding: 4px 10px;
  font-variation-settings: 'wght' var(--text-weight-bold), 'wdth' var(--wdth);
  line-height: 1.2;
  font-size: var(--font-size);
}

.card__image {
  position: relative;
  border-top: var(--main-border);
}

.article__image {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 0 5px 0;
}

.image__logo {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: var(--font-size-card-label);
  text-shadow: 0 0 1px var(--black-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px #fff) or
    (-webkit-text-stroke: 1px #fff)) {
  .image__logo {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__text {
  padding: 18px 25px 25px 25px;
  line-height: 117%;
}

.card__paragraph:not(:last-child) {
  margin-bottom: 25px;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 25px 25px;
  /* gap: 8px; */
}

button {
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  font-size: var(--font-size-card-label);
  line-height: 90%;
  border: none;
  transition: box-shadow 0.3s ease;
}

button:not(.card__icon-button) {
  position: relative;
  overflow: hidden;
  border: var(--main-border);
  color: var(--black-color);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

svg .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  display: flex;
  width: 130px;
  height: 38px;
  justify-content: center;
  align-items: center;
}

.filter__brightness {
  filter: brightness(110%);
}

.filter__opacity {
  filter: opacity(0.9);
}

.filter__hue-rotate {
  filter: hue-rotate(-10deg);
}

.filter__sepia {
  filter: sepia(95%);
}

.filter__invert {
  filter: invert(0.10);
}

.filter__grayscale {
  filter: grayscale(1.0);
}

.filter__blur {
  filter: blur(0.02rem);
}

.filter__mix {
  filter: sepia(1) hue-rotate(264deg) saturate(289%);
}